body {
  font-family: 'Source Sans Pro', 'sans-serif';
}

.indexbox {
  background-color: rgba(250, 250, 250, 0.9);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0em 0em 1em 0em #202020;
}

.mainbox {
  background-color: rgba(255, 255, 255, 0.82);

  width: 95%;
  max-width: 40em;

  margin-top: 0.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

h1, h2 {
  font-weight: normal;
}

p {
  font-size: large;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3;
}

p.listitem {
  font-weight: 700;
}

p.pubitem {
  font-size: medium;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  color: #1251a7;
}

a:hover {
  transition-property: color;
  transition-duration: 0.4s;
  color: #102746;
}

img.inline {
  width: 120%;
  margin-left: -10%;
  box-shadow: .1em .1em 1em -.5em #000;
}

@media screen and (orientation: portrait) {

  .mainbox, .indexbox {
    width: 90%;
    max-width: 50em;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw;
  }

  p.pubitem {
    font-size: 3vw;
  }

}

