<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href=".">
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300'>
    <link rel="stylesheet" href="global.css">
    <title>Nat Wilson @ MIT {{title}}</title>
  </head>

  <body>

    <div class="mainbox">
    <p>
      <a href="index.html">Home</a>
    </p>

    {{content}}

    <p>
      <a href="index.html">Home</a>
    </p>
    </div>

  </body>
</html>

