<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href=".">
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300'>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="katex/katex.min.css">
    <script type="text/javascript" src="katex/katex.min.js"></script>
    <script type="text/javascript" src="katex/auto-render.min.js"></script>
    <title>Nat Wilson @ MIT {{title}}</title>
  </head>

  <body>

    <div class="mainbox">
    <p>
      <a href="index.html">Home</a>
    </p>

    {{content}}

    <p>
      <a href="index.html">Home</a>
    </p>
    </div>

    <script type="text/javascript">
      renderMathInElement(document.body,
          { delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "$", right: "$", display: false},
            ]
          });
    </script>

  </body>
</html>

